@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    background: #F6F6F6;
}
.logo h4{
    font-family: 'Lobster', cursive !important;
    font-size: 25px;

}
.nav-items ul{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-items ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #A3A3A3;
    font-weight: 500;
}
.hr{
    height: 2px;
    background: #CDCDCD;
    margin: 20px 0;
    margin: 0 auto;
    padding: 0;
    width: 70%;
}
main{
    background: #F6F6F6;
}
#nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: #858585;
    /* font-weight: 500; */
}
.news-details img{
    width: 300px;
    height: 250px;
}
.news-details .author-img{
    width: 40px;
    height: 40px;
    border-radius: 155px;
}
.news-details{
    display: flex;
    gap: 15px;

}
.news{
    margin-bottom: 30px;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 4px 6px 13px rgba(215, 215, 215, 0.25);
    border-radius: 12px;
}
.news h3{
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 140%;
color: #121221;
}
.news-desc{
    color: #949494;
    line-height: 25px;
}
.author-info{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0px 30px;
}
.author-det{
    display: flex;
    gap: 5px;
    /* align-items: center; */
}
.author-name{
    color: #2B2C34;
    font-weight: 500;
    margin: 0;
}
.autor-date{
    font-size: 14px;
    color: #718797;
}
.rating{
    font-weight: 500;
    color: black;
    margin-left: 4px;
}
.news-x{
    display: flex;
    gap: 15px;
}
.fa-arrow-right{
    color: #5D5FEF;
    /* font-weight: 500; */
    font-size: 20px;
    cursor: pointer;
}
#count{
    width: 1000px;
    margin: 0 auto;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}
.modal-img{
    margin-left: 80px;
    margin-bottom: 20px;
}

@media (max-width:688px) {
    #count{
        width: 100%;
    }
    #nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .news{
        width: 100%;
    }
    .news-details{
        flex-direction: column;
    }
    .news-x{
        flex-direction: column;
    }
}